<?xml version="1.0" ?>
<!-- Fanuc CRX-10iA/L URDF - Modified mesh paths for fanuc_crx10ia_description package -->
<robot name="fanuc_crx10ial">
  <!-- links: main serial chain -->
  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://fanuc_crx10ia_description/meshes/crx10ial/visual/base_link.stl"/>
      </geometry>
      <material name="">
        <color rgba="0.24 0.24 0.24 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://fanuc_crx10ia_description/meshes/crx10ial/collision/base_link.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="link_1">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://fanuc_crx10ia_description/meshes/crx10ial/visual/link_1.stl"/>
      </geometry>
      <material name="">
        <color rgba="0.86 0.85 0.81 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://fanuc_crx10ia_description/meshes/crx10ial/collision/link_1.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="link_2">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://fanuc_crx10ia_description/meshes/crx10ial/visual/link_2.stl"/>
      </geometry>
      <material name="">
        <color rgba="0.86 0.85 0.81 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://fanuc_crx10ia_description/meshes/crx10ial/collision/link_2.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="link_3">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://fanuc_crx10ia_description/meshes/crx10ial/visual/link_3.stl"/>
      </geometry>
      <material name="">
        <color rgba="0.86 0.85 0.81 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://fanuc_crx10ia_description/meshes/crx10ial/collision/link_3.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="link_4">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://fanuc_crx10ia_description/meshes/crx10ial/visual/link_4.stl"/>
      </geometry>
      <material name="">
        <color rgba="0.86 0.85 0.81 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://fanuc_crx10ia_description/meshes/crx10ial/collision/link_4.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="link_5">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://fanuc_crx10ia_description/meshes/crx10ial/visual/link_5.stl"/>
      </geometry>
      <material name="">
        <color rgba="0.86 0.85 0.81 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://fanuc_crx10ia_description/meshes/crx10ial/collision/link_5.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="link_6">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://fanuc_crx10ia_description/meshes/crx10ial/visual/link_6.stl"/>
      </geometry>
      <material name="">
        <color rgba="0.24 0.24 0.24 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://fanuc_crx10ia_description/meshes/crx10ial/collision/link_6.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- joints: main serial chain -->
  <joint name="joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.245"/>
    <parent link="base_link"/>
    <child link="link_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" lower="-3.14159" upper="3.14159" velocity="2.094"/>
  </joint>
  <joint name="joint_2" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_1"/>
    <child link="link_2"/>
    <axis xyz="0 1 0"/>
    <limit effort="100" lower="-3.14159" upper="3.14159" velocity="2.094"/>
  </joint>
  <joint name="joint_3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.710"/>
    <parent link="link_2"/>
    <child link="link_3"/>
    <axis xyz="0 -1 0"/>
    <limit effort="100" lower="-4.712" upper="4.712" velocity="3.14159"/>
  </joint>
  <joint name="joint_4" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_3"/>
    <child link="link_4"/>
    <axis xyz="-1 0 0"/>
    <limit effort="100" lower="-3.316" upper="3.316" velocity="3.14159"/>
  </joint>
  <joint name="joint_5" type="revolute">
    <origin rpy="0 0 0" xyz="0.540 -0.150 0"/>
    <parent link="link_4"/>
    <child link="link_5"/>
    <axis xyz="0 -1 0"/>
    <limit effort="100" lower="-3.14159" upper="3.14159" velocity="3.14159"/>
  </joint>
  <joint name="joint_6" type="revolute">
    <origin rpy="0 0 0" xyz="0.160 0 0"/>
    <parent link="link_5"/>
    <child link="link_6"/>
    <axis xyz="-1 0 0"/>
    <limit effort="100" lower="-3.316" upper="3.316" velocity="3.14159"/>
  </joint>

  <!-- ROS-Industrial 'base' frame -->
  <link name="base"/>
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.245"/>
    <parent link="base_link"/>
    <child link="base"/>
  </joint>

  <!-- ROS-Industrial 'flange' frame: attachment point for EEF -->
  <link name="flange"/>
  <joint name="joint_6-flange" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_6"/>
    <child link="flange"/>
  </joint>

  <!-- ROS-Industrial 'tool0' frame -->
  <link name="tool0"/>
  <joint name="link_6-tool0" type="fixed">
    <origin rpy="3.14159 -1.5708 0" xyz="0 0 0"/>
    <parent link="flange"/>
    <child link="tool0"/>
  </joint>

  <!-- ============== ROBOTIQ 2F-85 GRIPPER ============== -->
  <!-- Gripper base attached to tool0 -->
  <link name="gripper_base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.02"/>
      <geometry>
        <box size="0.04 0.09 0.04"/>
      </geometry>
      <material name="grey">
        <color rgba="0.3 0.3 0.3 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.02"/>
      <geometry>
        <box size="0.04 0.09 0.04"/>
      </geometry>
    </collision>
  </link>
  <joint name="gripper_base_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="tool0"/>
    <child link="gripper_base_link"/>
  </joint>

  <!-- Left finger -->
  <link name="gripper_left_finger_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.04"/>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <material name="dark_grey">
        <color rgba="0.2 0.2 0.2 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.04"/>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
    </collision>
  </link>
  <joint name="gripper_finger_joint" type="prismatic">
    <origin rpy="0 0 0" xyz="0 0.0425 0.04"/>
    <parent link="gripper_base_link"/>
    <child link="gripper_left_finger_link"/>
    <axis xyz="0 -1 0"/>
    <limit effort="100" lower="0.0" upper="0.04" velocity="0.1"/>
  </joint>

  <!-- Right finger (mimic) -->
  <link name="gripper_right_finger_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.04"/>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <material name="dark_grey">
        <color rgba="0.2 0.2 0.2 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.04"/>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
    </collision>
  </link>
  <joint name="gripper_right_finger_joint" type="prismatic">
    <origin rpy="0 0 0" xyz="0 -0.0425 0.04"/>
    <parent link="gripper_base_link"/>
    <child link="gripper_right_finger_link"/>
    <axis xyz="0 1 0"/>
    <limit effort="100" lower="0.0" upper="0.04" velocity="0.1"/>
    <mimic joint="gripper_finger_joint" multiplier="1" offset="0"/>
  </joint>

  <!-- ros2_control configuration -->
  <ros2_control name="FanucCRX10iaSystem" type="system">
    <hardware>
      <plugin>fake_components/GenericSystem</plugin>
    </hardware>
    <joint name="joint_1">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint_2">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint_3">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint_4">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint_5">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint_6">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    <joint name="gripper_finger_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

</robot>
